
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.count_box{
    border-radius: 10%;
    flex-direction: column;    
    max-width: 150px;
}

.count_number {
    display: contents;
    justify-content: center;
    font-size: 19px;
    font-family: 'Balsamiq Sans', cursive;
    align-items: center;
}

/* .bloque_count button {
    font-size: 20px;
    font-family: 'Balsamiq Sans';
    margin: 10px;
    border-radius: 30%;
    background-color: #f7b731;
    width: 30px;
	height: 30px;
	cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
} */
.delete-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: #ccc0f2;
    border-color: #ccc0f2;
    margin-left: 20px;
    margin-right: 20px;
    color: #14648C;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-radius: 110px;
    padding: 15px;
}

.button-count-child {
    display: flex;
    align-items: baseline;
}

.card_cart {
    width: 80%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 80px 10px;
    border: 10px;
    border-color: black;
    background-color: white;
    margin-top: 20px;
    border-radius: 1%;
    
}

.img_cart {
    width: 8%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15%;
    width: 120px;
}

.title_card_cart {
    font-family: 'bebas neue';
    font-size: 30px;
    width: 110px;
}

.buttonCountCart{
    align-content: center;
    display: flex;
    width: 90px;
}
.buttonCountCart button, .buttonCountCart p {
    margin: 0 8px; /* Agrega un margen a los elementos para separarlos */
  }