@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 

.div-checkout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.columns_pedido {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  background-color: white;
  border-radius: 30px;
  height: auto;
  width: auto;
}

.div-title-checkout {
  display: flex;
  justify-content: left;
  margin-left: 35px;
  align-items: center;
}

.title-checkout {
  font-family: 'Grand Hotel', cursive;
  color: #f0b172;
  font-size: 60px;
}

/* .line-1 {
  height: 3px;
  background: rgb(160, 6, 169);
}

.line-2 {
  border-left: 3px solid rgb(160, 6, 169);
  height: 385px;
  position: absolute;
  left: 50vw;
} */

.div-form-resumen {
  display: flex;
  justify-content: space-evenly;
  align-items:baseline;
  justify-content: center;
  padding: 1vw;
}

.div-resumenPedido {
  display: flex;
  justify-content: left;
  padding: 1vw;
}

.title-resumen, .form-title {
  font-family: 'Montserrat', sans-serif;
  color: #14648C;
  font-weight: bolder;
  font-size: 22px;
}

.resumen {
  font-family: 'Montserrat', sans-serif;
  color: #14648C;
  font-weight: bolder;
  font-size: 20px;
}

.div-contact-form {
  display: flex;
  justify-content: right;
  padding: 2vw;
}
  
.form-control::placeholder {
  color: #aeb4b9;
  font-weight: 900;
  opacity: 1;
}
          
.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
}

.contact-form {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
}

.div-btn-enviar {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.btn-enviar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 12px;
  font-size: 18px;
  background-color: #ccc0f2;
  border-style: none;
  color: #14648C;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  border-radius: 90px;
  padding: 35px;
  margin-top: 20px;
  transition: 0.3s;
}
