.datail_card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-onadd-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
} 
.btn-onadd, .btn-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 12px;
    font-size: 16px;
    background-color: #ccc0f2;
    border-style: none;
    color: #14648C;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-radius: 90px;
    padding: 35px;
    margin-bottom: 16px;
    transition: 0.3s;
    text-decoration: none;
}
.btn-onadd:hover {
    background-color: #f0b172;
    border: none;
    color: white;
}

