
.nosotros-div {
    height: 700px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros-img-text {
    position: absolute;
    display: flex;
    /* background-color: #ccc0f2; */
    background-color: #97cdcad5;
    border-radius: 90px;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.nosotros-img {
    width: 550px;
    transition: transform .4s;
}

.nosotros-img:hover {
    transform: scale(1.1);
}

.nosotros-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fad990;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    color: #14648C;
    text-align: center;
    line-height: 35px;
    width: 500px;
    padding: 15px;
    margin: 20px;
    height: 450px;
    border-radius: 90px;
    transition: transform .4s;
}

.nosotros-text-div:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 2000px) and (min-width: 1366px) {  
  
}