* {
    padding: 0;
    margin: 0;
  }

.button_cat {
    
    margin: 10px;
    border: none;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 244, 240);
    padding: 10px;
    color: #596275;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
}
.fondo_cards {
    display: flex;
}



