* {
    padding: 0;
    margin: 0;
  }

/* .button_cat {
    margin: 10px;
    border: none;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 244, 240);
    padding: 10px;
    color: #596275;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
} */
.fondo_cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary-div {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    padding: 20px;
}
.btn-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: #ccc0f2;
    border-color: #ccc0f2;
    margin-left: 20px;
    margin-right: 20px;
    color: #14648C;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-radius: 110px;
    padding: 15px;
}

.btn-primary:hover {
    background-color: #f0b172;
    border: none;
}



