@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Pacifico&family=Rokkitt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 

 .card_style {
    font-size: 15px;
    width: 400px;    
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
} 

.card {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}
.card-body{
    background-color: #f5f7fb;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border: none;
}

.card-img-top {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.card-price{
    font-size: 40px;
    color: #f7a14b;;
    display: flex;
}


.title_card {
    font-size: 50px;
    color: #303952;
    display:flex;
    justify-content:space-between;
    align-items: baseline;
    font-family: 'bebas neue';
    
}

.product_details {
    display: flex;
    justify-content: center;
}

.product_details_text {
    color: #14648C;
    text-decoration: none;
    font-size: 15px;
}

.card-text{
    color: #596275;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-left: 20px;
}
