@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@600;700&family=Montserrat:wght@200&family=Prompt:wght@200&family=Rubik:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
  }

header .navbar {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: stretch;
    background-color: #f5f3f0;
    color: #14648C;
    padding: 25px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;
}

.apliques-title {
    position: absolute;
    width: auto;
    font-family: 'Grand Hotel', cursive;
    font-size: 75px;
    margin-left: 50px;
}
.apliques-title .char1{
    color: #81cbd3;
}
.apliques-title .char2{
    color: #ccc0f2;
}
.apliques-title .char3{
    color: #f0b172;
}
.apliques-title .char4{
    color: #b4a2e9;
}
.apliques-title .char5{
    color: #fad990;
}
.apliques-title .char6{
    color: #f6b8cf;
}
.apliques-title .char7{
    color: #81cbd3;
}
.apliques-title .char8{
    color: #ccc0f2;
}
.apliques-title .char9{
    color: #b4a2e9;
}
.apliques-title .char10{
    color: #fad990;
}
.apliques-title .char11{
    color: #f6b8cf;
}
.apliques-title .char12{
    color: #81cbd3;
}
.apliques-title .char13{
    color: #ccc0f2;
}
.apliques-title .char14{
    color: #AB9BDB;
}
.apliques-title .char15{
    color: #f0b172;
}

.navbar-nav {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.faStar {
    display: flex;
    align-items: center;
}
.nav-custom-purple .nav-link, .nav-custom-purple .nav-link.active {
    color: #14648C;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.nav-custom-purple:hover .nav-link:hover, .nav-custom-purple:hover .nav-link.active:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-decoration-style:wavy;
    margin-bottom: 5px;
}

/* .nav-custom-purple .nav-link.active {
    color: white;
    text-decoration: underline;
} */
