.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #f5f3f037;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.foot a {
    color: #14648C;
    margin-right: 10px;
    margin-left: 10px; 
}

/*  
.social_fb{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
    
} */