
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.count_box{
    border-radius: 20%;
    flex-direction: column;    
    max-width: 150px;
    margin-bottom: 20px;
}

.count_number {
    font-size: 23px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}

.button-count button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    margin: 10px;
    border-radius: 45%;
    border-style: none;
    background-color: #f7b731;
    width: 34px;
	height: 34px;
	cursor: pointer;
    color: #494545;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    transition: 0.3s;
}

.button-count button:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
}